<!DOCTYPE html>
<html lang="pr-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Pokedex | Detalhes</title>
</head>

<body>
    <nav>
        <img src="/img/logo/logo-pokedex.png" class="img-fluid gif" alt="logo pokedex">
        <ul>
            <li>
                <a href="/home">Home</a>
            </li>
            <li>
                <a href="/cadastro">Cadastro</a>
            </li>
        </ul>
    </nav>

    <header>
        <h1> <%= pokemon.nome %>
            <span style="font-weight: 200;"  > Nº <%= pokemon.numero %></span>
        </h1>
    </header>

    <section id= "detalhes">
        <img src="<%= pokemon.imagem %>" alt="pokemon">
        <div id="infos">
            <p> 
                <%= pokemon.descricao %>
            </p>
            <div id="info-detalhes">
                <div class="col">
                    <h4>Altura: </h4>
                    <h3><%= pokemon.altura %></h3>
                    <h4>Peso: </h4>
                    <h3><%= pokemon.peso %></h3>
                </div>
                <div class="col">
                    <h4>Categoria: </h4>
                    <h3><%= pokemon.categoria %></h3>
                    <h4>Habilidade: </h4>
                    <h3><%= pokemon.habilidade %></h3>
                </div>
               
            </div>
            <br />
            <h3>Tipo</h3>
            <h2><%= pokemon.tipo %></h2>


        </div>
    </section>
</body>

</html>